# Python byte code, etc.
__pycache__/

# C/C++ object files/libraries
*.o
*.so

# macOS
**/.DS_Store

# tmp
~*

# pretrained_models
pretrained_models/*
!pretrained_models/.gitkeep

# third_party
third_party/*
!third_party/.gitkeep