# Python byte code, etc.
__pycache__/

# C/C++ object files/libraries
*.o
*.so

# macOS
**/.DS_Store

# tmp
~*

# pretrained_models
pretrained_models/big-lama
# pytracking/pretrain/
*.pth

results/*


